<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跳转...</title>
</head>
<body>

<script>

    window.location.href ="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxe64da4634a1115d1&redirect_uri=http://tfm.futuremelody.cn/home&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect"

//    测试
//     window.location.href ="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx6ebae04924c6cabb&redirect_uri=http://abc666.ngrok.xiaomiqiu.cn/home&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect"
</script>

</body>
</html>